#main {
  position: absolute;
  top: 30%;
  left: 15%;
  .main_header {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .main_btn {
    width: 100%;
    margin-bottom: 10px;
  }
}
