<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Calendar App</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  {{!-- Reset --}}
  <link rel="stylesheet" href="/css/reset.css">
  {{!-- Google Fonts --}}
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  {{!-- Dynamic CSS loader --}}
  <link rel="stylesheet" href="/css/{{file}}.css">
</head>

<body>
  {{{body}}}
</body>

{{!-- Dynamic JS loader --}}
<script src="/js/{{file}}.js"></script>

</html>